In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)

data = pd.DataFrame({
    'Grade': np.random.randint(1, 100, 400),
    'Subjects': np.random.choice(['Math', 'Science', 'Programming'], 400),
    'Mid Term Grade': np.random.normal(50, 15, 400),
    'Group': np.random.choice(['X', 'Y', 'Z'], 400),
    'Quiz 1': np.random.randint(0, 2, 400),
    'Quiz 2': np.random.uniform(0, 1, 400),
    'Weights': np.random.randn(400),
    'Date': np.random.choice(pd.date_range('2023-01-01', '2023-12-31'), 400),
    'Final Grade GPA': np.random.choice(['A', 'B', 'C', 'D'], 400),
    'Final Grade': np.random.normal(100, 25, 400)
})

In [2]:
to_drop = [
    'Subjects',
    'Group',
    'Date',
    'Final Grade GPA'
]

In [3]:
data.describe()

,Grade,Mid Term Grade,Quiz 1,Quiz 2,Weights,Date,Final Grade
count,400.000000,400.000000,400.00000,400.000000,400.000000,400,400.000000
mean,49.750000,49.522939,0.49750,0.500079,0.043888,2023-07-01 07:19:12,100.758953
min,1.000000,9.546700,0.00000,0.007563,-2.921350,2023-01-01 00:00:00,34.106307
25%,24.000000,39.012882,0.00000,0.240315,-0.614990,2023-04-03 12:00:00,83.395803
50%,50.500000,49.509140,0.00000,0.513951,0.019822,2023-06-25 12:00:00,100.952198
75%,75.000000,59.378591,1.00000,0.740150,0.739640,2023-10-02 12:00:00,117.059282
max,99.000000,96.183212,1.00000,0.996697,3.193108,2023-12-31 00:00:00,177.747964
std,29.484587,15.071758,0.50062,0.288924,0.991904,NaN,24.408764

In [4]:
data.drop(to_drop, axis=1).mean()

Grade              49.750000
Mid Term Grade     49.522939
Quiz 1              0.497500
Quiz 2              0.500079
Weights             0.043888
Final Grade       100.758953
dtype: float64

In [5]:
data.drop(to_drop, axis=1).median()

Grade              50.500000
Mid Term Grade     49.509140
Quiz 1              0.000000
Quiz 2              0.513951
Weights             0.019822
Final Grade       100.952198
dtype: float64

In [6]:
data.drop(to_drop, axis=1).mode()

     Grade  Mid Term Grade  Quiz 1    Quiz 2   Weights  Final Grade
0     62.0        9.546700     0.0  0.007563 -2.921350    34.106307
1      NaN       10.235453     NaN  0.009332 -2.872262    34.894654
2      NaN       12.925332     NaN  0.011031 -2.703232    43.827767
3      NaN       15.471183     NaN  0.012108 -2.424240    44.517491
4      NaN       16.832970     NaN  0.012121 -2.362932    44.860849
..     ...             ...     ...       ...       ...          ...
395    NaN       86.686280     NaN  0.992158  2.062525   160.667912
396    NaN       88.401268     NaN  0.992484  2.170943   165.519827
397    NaN       88.600397     NaN  0.994139  2.558199   173.727361
398    NaN       89.485731     NaN  0.994866  2.589564   174.631475
399    NaN       96.183212     NaN  0.996697  3.193108   177.747964

[400 rows x 6 columns]

In [7]:
data.drop(to_drop, axis=1).std()

Grade             29.484587
Mid Term Grade    15.071758
Quiz 1             0.500620
Quiz 2             0.288924
Weights            0.991904
Final Grade       24.408764
dtype: float64

In [8]:
data.drop(to_drop, axis=1).var()

Grade             869.340852
Mid Term Grade    227.157898
Quiz 1              0.250620
Quiz 2              0.083477
Weights             0.983874
Final Grade       595.787780
dtype: float64

In [9]:
data.drop(to_drop, axis=1).sum()

Grade             19900.000000
Mid Term Grade    19809.175461
Quiz 1              199.000000
Quiz 2              200.031466
Weights              17.555025
Final Grade       40303.581014
dtype: float64

In [10]:
data.count()

Grade              400
Subjects           400
Mid Term Grade     400
Group              400
Quiz 1             400
Quiz 2             400
Weights            400
Date               400
Final Grade GPA    400
Final Grade        400
dtype: int64

In [11]:
data.drop(to_drop, axis=1).min()

Grade              1.000000
Mid Term Grade     9.546700
Quiz 1             0.000000
Quiz 2             0.007563
Weights           -2.921350
Final Grade       34.106307
dtype: float64

In [12]:
data.drop(to_drop, axis=1).max()

Grade              99.000000
Mid Term Grade     96.183212
Quiz 1              1.000000
Quiz 2              0.996697
Weights             3.193108
Final Grade       177.747964
dtype: float64

In [13]:
data.drop(to_drop, axis=1).quantile()

Grade              50.500000
Mid Term Grade     49.509140
Quiz 1              0.000000
Quiz 2              0.513951
Weights             0.019822
Final Grade       100.952198
Name: 0.5, dtype: float64

In [14]:
data.drop(to_drop, axis=1).corr()

,Grade,Mid Term Grade,Quiz 1,Quiz 2,Weights,Final Grade
Grade,1.000000,-0.051047,-0.002929,-0.066330,0.065664,-0.037164
Mid Term Grade,-0.051047,1.000000,-0.013366,0.017686,0.149139,-0.021946
Quiz 1,-0.002929,-0.013366,1.000000,0.009949,0.029914,-0.111135
Quiz 2,-0.066330,0.017686,0.009949,1.000000,-0.038037,-0.051009
Weights,0.065664,0.149139,0.029914,-0.038037,1.000000,0.028241
Final Grade,-0.037164,-0.021946,-0.111135,-0.051009,0.028241,1.000000

In [15]:
data.drop(to_drop, axis=1).cov()

,Grade,Mid Term Grade,Quiz 1,Quiz 2,Weights,Final Grade
Grade,869.340852,-22.684514,-0.043233,-0.565056,1.920403,-26.746468
Mid Term Grade,-22.684514,227.157898,-0.100848,0.077015,2.229592,-8.073397
Quiz 1,-0.043233,-0.100848,0.250620,0.001439,0.014855,-1.358015
Quiz 2,-0.565056,0.077015,0.001439,0.083477,-0.010901,-0.359731
Weights,1.920403,2.229592,0.014855,-0.010901,0.983874,0.683758
Final Grade,-26.746468,-8.073397,-1.358015,-0.359731,0.683758,595.787780

In [16]:
data.memory_usage()

Index               132
Grade              3200
Subjects           3200
Mid Term Grade     3200
Group              3200
Quiz 1             3200
Quiz 2             3200
Weights            3200
Date               3200
Final Grade GPA    3200
Final Grade        3200
dtype: int64